* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to bottom, #bfdbfe, #eff6ff);
}

.game-card {
    width: 450px;
    background: white;
    padding: 34px;
    border-radius: 28px;
    text-align: center;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.top-badge {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 999px;
    background: #dbeafe;
    color: #2563eb;
    font-size: 14px;
}

#hintBtn {
    width: auto;
    padding: 10px 16px;
    background: #f59e0b;
}

#hintBtn:hover {
    background: #d97706;
}

h1 {
    color: #0f172a;
    margin-bottom: 10px;
}

.subtitle {
    color: #64748b;
    margin-bottom: 24px;
}

.word-box {
    background: #eff6ff;
    color: #1d4ed8;
    padding: 22px;
    border-radius: 18px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 18px;
}

.hint-text {
    color: #475569;
    margin-bottom: 20px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #cbd5e1;
    font-size: 16px;
    outline: none;
    margin-bottom: 18px;
}

input:focus {
    border-color: #2563eb;
}

.button-group {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

button {
    flex: 1;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #2563eb;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #1d4ed8;
}

.message {
    font-weight: bold;
    color: #334155;
    min-height: 24px;
    margin-bottom: 18px;
    font-size: 18px;
}

.stats {
    display: flex;
    justify-content: space-between;
    color: #64748b;
    font-weight: bold;
}