* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #0f172a, #020617);
    overflow: hidden;
}

.game-card {
    width: 500px;
    background: #111827;
    padding: 36px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #1e293b;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {

    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top-badge {
    padding: 8px 16px;
    border-radius: 999px;
    background: #1e3a8a;
    color: #bfdbfe;
    font-size: 14px;
}

.selectors {
    display: flex;
    gap: 10px;
}

select {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #1e293b;
    color: white;
    outline: none;
}

h1 {
    color: white;
    margin-bottom: 10px;
}

.subtitle {
    color: #94a3b8;
    margin-bottom: 20px;
}

.timer-box {
    background: #1e293b;
    color: #38bdf8;
    padding: 14px;
    border-radius: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.word-box {
    background: #0f172a;
    color: #60a5fa;
    padding: 24px;
    border-radius: 20px;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 18px;
    border: 1px solid #1e293b;
}

.hint-text {
    color: #cbd5e1;
    margin-bottom: 18px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #334155;
    background: #0f172a;
    color: white;
    font-size: 16px;
    outline: none;
    margin-bottom: 18px;
}

input:focus {
    border-color: #3b82f6;
}

.button-group {
    display: flex;
    gap: 12px;
    margin-bottom: 14px;
}

button {
    flex: 1;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #2563eb;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.03);
    background: #1d4ed8;
}

#hintBtn {
    width: 100%;
    background: #f59e0b;
    margin-bottom: 12px;
}

#hintBtn:hover {
    background: #d97706;
}

#restartBtn {
    width: 100%;
    background: #334155;
    margin-bottom: 18px;
    display: none;
}

#restartBtn:hover {
    background: #475569;
}

.message {
    font-weight: bold;
    color: #e2e8f0;
    min-height: 24px;
    margin-bottom: 18px;
    font-size: 18px;
}

.stats {
    display: flex;
    justify-content: space-between;
    color: #94a3b8;
    font-weight: bold;
}